<div *ngIf='job' class='row' >
  <div class='col card' routerLink="/job/{{job.id}}">
    <div class="card-body">
      <h5 class="card-title">{{job.name}}</h5>
      <p class="card-text">{{job.description}}</p>

      <div class="row">
        <div class="col">solutions: <strong>{{job.solutionCount}}</strong></div>
        <div class="col">bets solutions: <strong>{{job.bestSolution | number:0}}</strong></div>
        <div class="col">reward: <strong>{{job.reward}}</strong></div>
      </div>
    </div>
  </div>
</div>
