.mw-wrap {
  display: none;
  text-align: center;

  &.is-swow {
    display: block;
  }

  .mw-container {
    position: fixed;
    display: inline-block;
    z-index: 1;
    top: 50px;
    padding: 20px;
    min-width: 200px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);

    header {
      height: 50px;
      border-bottom: 1px solid rgba(0,0,0,.125);
      padding-bottom: 5px;
    }
  }

  .mw-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
  }
}
