<section class='mw-wrap' [class.is-swow]="isShow">
  <div class="mw-container">
    <header class="row justify-content-end">
      <button type="button" class="btn btn-light" (click)='close()'>close</button>
    </header>

    <ng-content></ng-content>
  </div>

  <div class="mw-background" (click)='close()'></div>
</section>
