<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink='/' >Bord</a></li>
    <li *ngIf="job" class="breadcrumb-item active" aria-current="page">{{job.name}}</li>
  </ol>
</nav>

<div *ngIf="job">
  <div class='row'>
    <h1 class='col'>{{job.name}}</h1>
  </div>

  <div class='row'>
    <p class='col'>{{job.description}}</p>
  </div>

  <div class='row'>
    <label class="col" *ngFor="let file of job.attachments">{{file}}</label>
  </div>

  <div class='row'>
    <label class='col-3'>Best solutions</label>
    <strong class='col-3'>{{job.bestSolution}}</strong>

    <div class='col'>
      <label class=''>reward: </label>
      <strong class=''>{{job.reward}}</strong>
    </div>
  </div>

  <app-solutions class="row" [job]="job" [selectedId]="job.solutionId" (selectSolution)="selectSolution($event)"></app-solutions>
</div>
