header {
  height: 70px;
  background-color: #0072C6;
}

footer {
  height: 90px;
  background-color: #fbfbfb;
  border-top: 1px solid #dedfe0;
}

section {
  padding: 20px 20px;
  background-color: #fff;
  border-left: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
}
