<button type="button" class="col-2 btn btn-primary" (click)="openWindow()">Add solution</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">executor</th>
      <th scope="col">result</th>
      <th scope="col">attachments</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let solution of solutions" [class.selected]="solution.id === selectedId" [class.joined]='solution.joined'>
      <td>{{solution.executor}}</td>
      <td>{{solution.result}}</td>
      <td>
        <label *ngFor='let att of solution.attachments'>{{att}}</label>
      </td>
      <td>
        <button *ngIf='!selectedId' type="button" class="btn btn-outline-success" (click)="select(solution)">Select solution</button>
        <button *ngIf="solution.joined === false" type="button" class="btn btn-outline-primary" (click)="joinTo(solution)">Join to team</button>
      </td>
    </tr>
  </tbody>
</table>

<app-modal-window id='new-solution'>
  <div *ngIf="newSolution" class="new-item-cont">
    <input [(ngModel)]="newSolution.executor" placeholder="team name" />
    <input [(ngModel)]="newSolution.result" placeholder="result" />
    <button type="button" class="btn btn-outline-primary" (click)="addNew()">add</button>
  </div>
</app-modal-window>
