<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Bord</li>
  </ol>
</nav>

<div *ngIf='news'>
{{news.date}}
{{news.command}}
{{news.value}}
</div>

<app-job-thumbnail *ngFor='let job of jobs' [job]="job"></app-job-thumbnail>
